SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Stacode Studios <hello@stacodestudios.com>
OWNER_EMAIL=contact.stacodestudios@gmail.com
ADMIN_EMAILS=contact.stacodestudios@gmail.com
NEXT_PUBLIC_SITE_URL=https://stacodestudios.com
NEXT_PUBLIC_GA_ID=
